<?xml version="1.0" encoding="UTF-8"?>
<Installer>
  <Name>PlotJuggler</Name>
  <Version>3.17.4</Version>
  <Title>PlotJuggler installer</Title>
  <Publisher>Davide Faconti</Publisher>
  <StartMenuDir>PlotJuggler</StartMenuDir>
  <TargetDir>@HomeDir@/AppData/Local/PlotJuggler</TargetDir>
  <DependsOnLocalInstallerBinary>true</DependsOnLocalInstallerBinary>
  <RunProgram>@TargetDir@/PlotJuggler</RunProgram>
</Installer>
